
<h1>Segmenting and Clustering Neighbourhoods in Toronto<h1>

In [12]:
import pandas as pd
import numpy as np
import requests


Get the HTML page of Wiki, and using read_html we convert the html data into list of Data frame objects.

Remove cells which have borrow not assigned.

In [13]:

wiki = 'https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&diff=969510799&oldid=969510672'
wiki_page = requests.get(wiki)
wiki_raw = pd.read_html(wiki_page.content, header = 0)[1]
wiki_raw
df = wiki_raw[wiki_raw.Borough  != 'Not assigned']
df.reset_index(inplace = True)
df.head()

,index,Postal Code,Borough,Neighbourhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [14]:
df.groupby(['Postal Code']).first()

,index,Borough,Neighbourhood
Postal Code,,,
M1B,9,Scarborough,"Malvern, Rouge"
M1C,18,Scarborough,"Rouge Hill, Port Union, Highland Creek"
M1E,27,Scarborough,"Guildwood, Morningside, West Hill"
M1G,36,Scarborough,Woburn
M1H,45,Scarborough,Cedarbrae
...,...,...,...
M9N,98,York,Weston
M9P,107,Etobicoke,Westmount
M9R,116,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
M9V,143,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
M9W,152,Etobicoke,"Northwest, West Humber - Clairville"

In [15]:
len(df['Postal Code'].unique())

103

In [16]:
df.shape

(103, 4)

<h1> Part2 <h2>

In [17]:
!pip3.6 install geocoder

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geocoder in c:\users\julka\appdata\roaming\python\python36\site-packages (1.38.1)
Requirement already satisfied: future in c:\users\julka\appdata\roaming\python\python36\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in c:\users\julka\appdata\roaming\python\python36\site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in c:\users\julka\appdata\roaming\python\python36\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: ratelim in c:\users\julka\appdata\roaming\python\python36\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: six in c:\users\julka\appdata\roaming\python\python36\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\julka\appdata\roaming\python\python36\site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\julka\appdata\roaming\python\python36\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\julka\appdata\roaming\python\python36\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\julka\appdata\roaming\python\python36\site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: decorator in c:\users\julka\appdata\roaming\python\python36\site-packages (from ratelim->geocoder) (4.4.2)
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\program files\python36\python.exe -m pip install --upgrade pip' command.

In [18]:
import geocoder

In [23]:
url = './Geospatial_Coordinates.csv'

In [24]:
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [25]:
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [26]:
df.dtypes

index             int64
Postal Code      object
Borough          object
Neighbourhood    object
dtype: object

In [27]:
df.shape

(103, 4)

In [28]:
df_geo.shape

(103, 3)

In [29]:
df = df.join(df_geo.set_index('Postal Code'), on='Postal Code')
df

,index,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,2,M3A,North York,Parkwoods,43.753259,-79.329656
1,3,M4A,North York,Victoria Village,43.725882,-79.315572
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...,...
98,160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,165,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,168,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [30]:
df = df.reset_index()

In [31]:
df.drop(['index'], axis = 'columns', inplace = True)

In [32]:
df = df.set_index('level_0')

In [33]:
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
level_0,,,,,
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [34]:
df = df.rename(index = {'level_0' : 'index'})

In [35]:
df.index.name = 'index'

In [36]:
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
index,,,,,
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [37]:
df.shape

(103, 5)